@charset "UTF-8";


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    body{
        width: 100%;
    }

    main{
        
        height: 278px;
        width: 100%;
    }

    main > section#login > div#imagem{
        width: 185px;
    }

    main > section#login{
        display: inline;
        
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}