@charset "UTF-8";

/* Versão Mobile */

    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap');


:root {
    --verde: #49a09d;
    --roxo: #5f2c82;
    --verdeGradiente: #49a09d7b;
    --roxoGradiente: #602c8272;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: linear-gradient(to top, var(--verde), var(--roxo));
    position: relative;
}

main {
    position: absolute;
    background: white;
    display: block;
    width: 218px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section#login > div#msg{
    font: bold 18px Arial, sans-serif;
    margin: 5px;
    margin-top: 8px;
    text-align: center;

}

main > section#login > div#msg > #p1 > strong{
    text-align: center;
    font-size: 30px;
}

main > section#login > div#msg > #p1{
    font-size: 16px;
}

div#imagem{
    display: block;
    width: 218px;
    height: 116px;
    background-color: #5f2c82;
    background-image: url(../imagens/prédio.jpg);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

main > section#login > #form-login > div{
    background-color: #5f2c82;
    display: block;
    margin: 10px auto;
    margin-top: 30px;
    text-align: right;
    padding: 2px;
    border-radius: 10px;
    width: 205px;
}

main > section#login > #form-login > div#password{
    margin-top: 10px;
}

main > section#login > #form-login > div > input{
    display: inline;
    width: 146px;
    padding: 10px;
    border-radius: 10px;
}
main > section#login > #form-login > div > label{
    font: 500 18px "Open Sans", sans-serif; 
    display: inline;
    width: max-content;
    position: relative;
    color: white;

    
    
}
main > section#login > #form-login > div > label > #user,
main > section#login > #form-login > div > label > #key{
    position: absolute;
    top: 6%;
    left: -28px;
    
}

main > section#login > #form-login > #btn-enviar{
    background-color: #49a09d;
    display: block;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px auto;
    margin-top: 10%;
    font: bold 18px Arial, sans-serif;
    color: rgba(255, 255, 255, 0.895); 
    width: 195px;
    

} 

main > section#login > #form-login > .button{
    background-color: #c5dfdd;
    display: block;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font: bold 18px Arial, sans-serif;
    color: rgba(108, 107, 107, 0.895); 
    width: 195px;
    

} 

main > section#login > #form-login > #btn-enviar:hover {
    background-color: var(--verdeGradiente);

}

main > section#login > #form-login > .button:hover {
    background-color: var(--verdeGradiente);

}



